@using System.Text
@using System.Timers
@inject CompileService compServive;
@inject DB _db;
@implements IDisposable

@if (IsTest)
{

    <div class="program">
        <textarea class="form_program" @bind="@CodeKoan"></textarea>
        <div class="btns">
            <button class="reset" @onclick="ReadFileKoanAsync">
                <img src="img\reset.svg" alt="">
            </button>
            <div class="back_next_check">
                @if (ListTestKoans.IndexOf(CurKoan) > 0)
                {
                    <button class="back" @onclick="BackKoan">
                        <img src="img\arrow_koan.svg" alt="">
                    </button>
                }

                @if (ListTestKoans.IndexOf(CurKoan) < ListTestKoans.Count - 1)
                {
                    <button class="next next_test" @onclick="SendResultKoanAsync">Следующий вопрос<img src="img\arrow_koan.svg" alt=""></button>
                }
                else
                {
                    <button class="finish" @onclick="SendFinalResultAsync">Завершить</button>
                }

            </div>
        </div>
    </div>
    <div class="task task_test">
        <div class="task_title">Вопрос @(ListTestKoans.IndexOf(CurKoan) + 1)</div>
        <div class="time_test">
            <div class="time_icon"><img src="\wwwroot\img\time_test.png" alt=""></div>
            <div class="time_num">@_timeOnly</div>
        </div>
    </div>





}
else
{

    <div class="program">
        <textarea class="form_program" @bind="@CodeKoan"></textarea>
        <div class="btns">
            <button class="reset" @onclick="ReadFileKoanAsync">
                <img src="img\reset.svg" alt="">
            </button>
            <div class="back_next_check">
                @if (ListKoans.IndexOf(CurKoan) > 0)
                {
                    <button class="back" @onclick="BackKoan">
                        <img src="img\arrow_koan.svg" alt="">
                    </button>
                }
                <button class="check" @onclick="CheckAsync">
                    Проверить
                    <img src="img\arrow_btn.svg" alt="">
                </button>
                @if (ListKoans.IndexOf(CurKoan) < ListKoans.Count && Student.KoanInModules.Contains(CurModule.KoanInModules.First(x => x.KoanId == CurKoan.Id)))
                {
                    <button class="next" @onclick="NextKoan">
                        <img src="img\arrow_koan.svg" alt="">
                    </button>
                }

            </div>
        </div>
    </div>
    <div class="task">
        <div class="task_title">@CurKoan.Name</div>
        <div class="task_info">@CurKoan.Description</div>
    </div>


    <div>@message</div>
    <div>@log</div>

}



@code {

    [Parameter]
    public bool IsTest { get; set; }

    [CascadingParameter(Name = "Student")]
    public Student Student { get; set; }

    [CascadingParameter(Name = "CurKoan")]
    public Koan CurKoan { get; set; }

    [CascadingParameter(Name = "CurModule")]
    public Module CurModule { get; set; }
    //[CascadingParameter(Name = "CurTest")]
    //public Test CurTest { get; set; }

    [Parameter]
    public EventCallback BackKoan { get; set; }
    [Parameter]
    public EventCallback NextKoan { get; set; }

    [Parameter]
    public EventCallback NavToResultTest { get; set; }

    public string CodeKoan { get; set; }

    [CascadingParameter(Name = "ListTestKoans")]
    public List<Koan> ListTestKoans { get; set; }

    int numberCurKoanTest
    {
        get
        {
            return ListTestKoans.IndexOf(CurKoan);
        }
    }

    [CascadingParameter(Name = "ListKoans")]
    public List<Koan> ListKoans { get; set; }

    int numberCurKoan
    {
        get
        {
            return ListKoans.IndexOf(CurKoan);
        }
    }

    //string codeKoan;
    string message = "";
    string log = "";
    IEnumerable<Koan> koans;
    private Timer _timer;
    private TimeOnly _timeOnly;

    /// <summary>
    /// Время начала теста
    /// </summary>
    private DateTime _dateTimeSrartTest;

    protected override async Task OnInitializedAsync()
    {
        if (IsTest)
        {
            _timer = new Timer(1000);
            _timer.Elapsed += (sender, e) =>
              {
                  //if(_dateTimeSrartTest != new DateTime())
                  //{
                  var t = DateTime.Now.Subtract(_dateTimeSrartTest);
                  _timeOnly = new TimeOnly(0, t.Minutes, t.Seconds);
                  StateHasChanged();
                  //}

              };
            //_timer.Enabled = true;
        }
        //if (IsTest)
        //{
        //    //CurKoan = CurModule.Test.KoanInTests.OrderBy(x => x.Priority).First().Koan;
        //    //await ReadFileKoanAsync.InvokeAsync();//ReadFileKoanAsync();//await ReadFileKoanAsync.InvokeAsync();
        //}

    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

    /// <summary>
    /// При вызовах BackKoan и других EventCallback, OnInitializedAsync не вызывается, поэтому вызываем OnParametersSet чтобы обновить код
    /// </summary>
    protected override void OnParametersSet()
    {
        ReadFileKoanAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if(LocStorage.LocalStorage == null)
        if (firstRender && IsTest)
        {
            var locStorageTest = await LocStorage.GetTestLocalStorageAsync(_db, Student);
            var t = DateTime.Now.Subtract(locStorageTest.DateTimeStartTest);
            _dateTimeSrartTest = locStorageTest.DateTimeStartTest;
            _timeOnly = new TimeOnly(0, t.Minutes, t.Seconds);
            _timer.Start();
            //_timeOnly = new TimeOnly(0, locStorageTest.DateTimeStartTest.Minute, locStorageTest.DateTimeStartTest.Second);
            //DateTime.Now.Hour * 60 + DateTime.Now.Minute - (locStorageTest.DateTimeStartTest.Hour * 60 + locStorageTest.DateTimeStartTest.Minute)

        }

    }


    //Module curModule;
    int numberCurModule
    {
        get
        {
            return listModules.IndexOf(CurModule);
        }
    }
    //List<KoanInModule> CurKoansInModule = new();
    int countAllLessons;
    int curLesson;
    bool showList = true;

    bool isLoaded;
    List<Module> listModules;
    List<Module> listIdModuleInvisible = new();

    private async void ReadFileKoanAsync()
    {
        using (FileStream fstream = File.OpenRead(CurKoan.Link))
        {
            byte[] buffer = new byte[fstream.Length];
            await fstream.ReadAsync(buffer, 0, buffer.Length);
            CodeKoan = Encoding.Default.GetString(buffer);
        }
        this.StateHasChanged();
    }

    private async Task CheckAsync()
    {
        //(string, bool) ValueTuple = ("", false);
        //compServive.CompileLog = new List<string>();
        //try
        //{
        //    ValueTuple = await compServive.CompileAndRun(CodeKoan);
        //    message = ValueTuple.Item1;
        //}
        //catch (Exception e)
        //{
        //    //message= $"{e.Message}\\r\n\\{e.StackTrace}";
        //    compServive.CompileLog.Add(e.Message);
        //    compServive.CompileLog.Add(e.StackTrace);
        //    message = "Ошибка";
        //}
        //log = string.Join("\r\n", compServive.CompileLog);

        bool isPassed = await CompileCodeAsync();

        if (isPassed && !Student.KoanInModules.Contains(CurModule.KoanInModules.First(x => x.KoanId == CurKoan.Id)))
        {
            Student.KoanInModules.Add(CurModule.KoanInModules.First(x => x.KoanId == CurKoan.Id));
            await _db.SaveChangesAsync();
        }
        this.StateHasChanged();
    }

    private async Task<bool> CompileCodeAsync()
    {
        (string, bool) ValueTuple = ("", false);
        compServive.CompileLog = new List<string>();
        try
        {
            ValueTuple = await compServive.CompileAndRun(CodeKoan);
            message = ValueTuple.Item1;
        }
        catch (Exception e)
        {
            //message= $"{e.Message}\\r\n\\{e.StackTrace}";
            compServive.CompileLog.Add(e.Message);
            compServive.CompileLog.Add(e.StackTrace);
            message = "Ошибка";
        }
        log = string.Join("\r\n", compServive.CompileLog);

        return ValueTuple.Item2;

    }

    private async Task SendResultKoanAsync()
    {

        bool isPassed = await CompileCodeAsync();

        var locStorageTest = await LocStorage.GetTestLocalStorageAsync(_db, Student);
        LocStorageTestKoan locStorageTestKoan = new()
            {
                IdKoanInTest = CurModule.Test.KoanInTests.First(x => x.KoanId == CurKoan.Id).Id,// CurKoan.Id,
                AnswerStudent = CodeKoan,
                IsPassed = isPassed,
                Message = $"{message}\r\n{log}"
            };

        var chStorTestKoan = locStorageTest.ListLocStoragesTestKoan.FirstOrDefault(x => x.IdKoanInTest == locStorageTestKoan.IdKoanInTest);
        if (chStorTestKoan == null)
            locStorageTest.ListLocStoragesTestKoan.Add(locStorageTestKoan);
        else //проверить заменит или нет
            chStorTestKoan = locStorageTestKoan;

        await LocStorage.LocalStorage.SetItemAsync(Constants.LOC_STOR, Newtonsoft.Json.JsonConvert.SerializeObject(locStorageTest));
        //if(ListTestKoans.Count < numberCurKoanTest + 1) //проверка делается в странице
        //    CurKoan = ListTestKoans.ElementAt(numberCurKoanTest + 1);

        if (ListTestKoans.Count > numberCurKoanTest + 1)
            CurKoan = ListTestKoans.ElementAt(numberCurKoanTest + 1);
        this.StateHasChanged();
        return;
    }

    private async void SendFinalResultAsync()
    {
        await SendResultKoanAsync();
        var locStorageTest = await LocStorage.GetTestLocalStorageAsync(_db, Student);
        locStorageTest.EndTestAsync(_db);
        await NavToResultTest.InvokeAsync();
    }


    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    //if(LocStorage.LocalStorage == null)
    //    if (firstRender)
    //    {
    //        locStorageTest = await LocStorage.GetTestLocalStorageAsync();
    //        statusTest = locStorageTest.GetStatus();
    //        StateHasChanged();
    //    }

    //}

}
